# Utilisation et application de la prédiction sur les données client

In [27]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [28]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

from sklearn.preprocessing import RobustScaler

from sklearn.preprocessing import MinMaxScaler

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn import metrics


from sklearn import metrics

# Import des librairies
import numpy as np
import pandas as pd
import seaborn as sns

import sklearn
#classe pour l'ACP
from sklearn.decomposition import PCA
from sklearn import decomposition
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt

# Import des librairies
import numpy as np
import pandas as pd
import seaborn as sns

import sklearn
#classe pour l'ACP
from sklearn.decomposition import PCA
from sklearn import decomposition
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt

#KMEan
from sklearn.cluster import KMeans
from sklearn import datasets

from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

from sklearn.inspection import permutation_importance

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs

from sklearn.cluster import KMeans
from sklearn import datasets

### Récuperation des données client

In [29]:
#Récuperation du dataframe 
df_client = pd.read_csv("C:/Users/User/Desktop/IA_Silicon_Valley/Silicon_Valley_test.txt")
df_client.head()

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,355000.0,<1H OCEAN
1,2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,70700.0,INLAND
2,15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,229400.0,NEAR BAY
3,82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,112500.0,NEAR BAY
4,8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,225400.0,<1H OCEAN

In [30]:
df_client = df_client.drop("Unnamed: 0" , axis=1)
df_client.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,355000.0,<1H OCEAN
1,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,70700.0,INLAND
2,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,229400.0,NEAR BAY
3,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,112500.0,NEAR BAY
4,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,225400.0,<1H OCEAN

### Application du pickle Kmean

In [31]:
import pickle

In [32]:
my_model_Kmean = pickle.load(open("Kmean_pickle.pkl","rb"))
#my_model_Kmean.score(df_client)

In [33]:
#Ajout du résultat du Kmean dans une nouvelle colonne du df_client 
df_f = df_client.copy()
df_f["k"] = my_model_Kmean.predict(df_client)
df_f["k"].value_counts()

0    2089
1    1466
2     573
Name: k, dtype: int64

In [34]:
df_f.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,k
0,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,355000.0,<1H OCEAN,2
1,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,70700.0,INLAND,0
2,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,229400.0,NEAR BAY,1
3,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,112500.0,NEAR BAY,0
4,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,225400.0,<1H OCEAN,1

In [35]:
df_f = df_f.drop(['median_house_value', "total_bedrooms", "households"], axis = 1)

In [36]:
df_f.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
population            0
median_income         0
ocean_proximity       0
k                     0
dtype: int64

In [39]:
#regroupper NEAR BAY et NEAR OCEAN en NEAR
replaced_df=df_f.replace("NEAR BAY", "N")
replaced_df= replaced_df.replace("NEAR OCEAN", "N")

In [40]:
replaced_df["ocean_proximity"].value_counts()

<1H OCEAN    1795
INLAND       1358
N             975
Name: ocean_proximity, dtype: int64

### Application du pickle Knn

In [41]:
my_model_Kn = pickle.load(open("Kn_pickle.pkl","rb")) 
y_pred = my_model_Kn.predict(df_f)

In [42]:
y = df_client['median_house_value']

In [44]:
# mae = metrics.mean_absolute_error(y, y_pred)
# mae_pour = metrics.mean_absolute_percentage_error(y, y_pred)
# mse = metrics.mean_squared_error(y, y_pred)
# rmse = np.sqrt(metrics.mean_squared_error(y, y_pred))


# print(f'mae : {mae}')
# print(f'mae_pour : {mae_pour}')
# print(f'mse : {mse}')
# print(f'rmse : {rmse}')